<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>百分点中文语义分析平台</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/user.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/images/ico/bfd_favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
    <script src="/static/js/jquery.js"></script>
    <style type="text/css">
    
        body {
	background-image: url(/static/images/slider-bg.jpg);
	background-repeat: no-repeat;
        }
           .form-signin{
            width:400px;
            padding:30px;
            margin:0 auto;
               background-color: rgba(255,255,255,.8);
            border-radius: 3px;
        }
        input{
            margin-bottom:3px;
        }
    </style>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

        });
        function cancel_modify(){
            $('#password').empty();
            $('#confirm_password').empty();
            window.location.href="/login/";
            
        }
    </script>
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <div id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">首页</a></li>
                        <li><a href="/show">演示</a></li>
                        <li><a href="/developer/">开发者</a></li>
                    </ul>
                    <div class="navbar-right">
                    {% if username %}
                        <a href="#"><i class="icon-user"></i> </a> | <a href="logout"><i class="icon-signout"></i> 退出</a></div>
                    {% else %}
                        <a href="/login"><i class="icon-user"></i>登录</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div><!--/#header-->
    <div class="row" style="margin-top:90px;">
        <div class="container">
             <div class="panel panel-default" style="margin-bottom:0px;">
                  <div class="panel-heading" style="padding:10px">用户密码找回</div>
                  <div class="panel-body">
                  <form method="post" action="/password/">
                  <table>
                    <tbody>
                       <tr>
                        <th width="200" style="color:#666; background:#f8f8f8;"><div align="right"><strong>邮箱</strong></div></th>
                        <th><input id="email" name="email" type="email" class="form-control input-sm"  style="width:300px" required autofocus></th>
                      </tr>
                      <tr>
                        <th width="200" style="color:#666; background:#f8f8f8;"><div align="right"><strong>新密码</strong></div></th>
                        <th><input id="password" name="password" type="password" class="form-control input-sm"  style="width:300px" required></th>
                      </tr>
                      <tr>
                        <th width="200" style="color:#666; background:#f8f8f8;"><div align="right"><strong>确认密码</strong></div></th>
                        <th><input id="confirm_password" name="confirm_password" type="password" class="form-control input-sm"  style="width:300px" required></th>
                      </tr>
                    </tbody>
                  </table>
                  <form>
                  <div align="center" style="margin-bottom:-10px;"><button class="btn btn-default btn-sm " type="submit" name="save">保存</button><button class="btn btn-cancel btn-sm " style="margin-left:0px;" name="cancel" type="button" onclick="cancel_modify()">取消</button>
                  </div>
                  <p>&nbsp;</p>
                  {% if messages %}
                      <ul class="messages">
                          {% for message in messages %}
                          <li {% if message.tags %} class="{{ message.tags }}" style="color:red" {% endif %}>{{ message }}</li>
                          {% endfor %}
                      </ul>
                  {% endif %}
             </div>
        </div>
    </div><!--/#row-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                    <div align="center">Copyright©2015 Baifendian Corporation All Right Reserved. 	京ICP备09109727号	京公网安备11010802010283号
                    </div>
            </div>
       </div>
    </footer><!--/#footer-->

</body>
</html>
